<STYLE TYPE="text/css">
<!--
H1    { color: magenta;
        font-family: "Times New Roman", serif;
        font-style: italic; 
        font-size: 18pt; 
        font-weight: bold;
        text-align: left; 
      }
H2    { color: magenta;
        font-family: "Tahoma", sans-serif;
        font-style: normal;
        font-size: 10pt;
        font-weight: bold;
        text-align: left; 
      }
H3    { color: magenta;
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
        text-align: left; 
      }
P     { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
EM    { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 8pt; 
        font-weight: normal;
      }
SMALL { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 8pt; 
        font-weight: normal;
      }
LI    { 
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
TD    { 
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
A     { 
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
-->
</STYLE>
