<STYLE TYPE="text/css">
<!--
BODY  { background-color: #FFFFE0;
      }

H1    { color: #600000;
        font-family: "Times New Roman", serif;
        font-style: italic; 
        font-size: 18pt; 
        font-weight: bold;
        text-align: left; 
      }
H2    { color: #600000;
        font-family: "Tahoma", sans-serif;
        font-style: normal;
        font-size: 10pt;
        font-weight: bold;
        text-align: left; 
      }
H3    { color: #600000;
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
        text-align: left; 
      }
P     { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
EM    { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 8pt; 
        font-weight: normal;
      }
SMALL { font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 8pt; 
        font-weight: normal;
      }

UL.minus { list-style-image:url(pictures/minus.gif) 
         }

LI    { 
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }

TD    { 
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
A     { 
        color: red;
        font-family: "Tahoma", sans-serif;
        font-style: normal; 
        font-size: 10pt; 
        font-weight: normal;
      }
-->
</STYLE>
